<h1 class="search-results-title">Search Results</h1>
<div class="container">
	<div class="card-grid">
		{{#each searchResults}}
			<div class="card">
				<a href="/sellers/listings/{{_id}}" class="href-black">
					<img src="{{itemImage}}" class="card-image" alt="{{itemName}}" />
					<div class="card-body">
						<h3>{{itemName}}</h3>
						<p>{{itemDescription}}</p>
						<p>${{itemPrice}}</p>
						<p>{{itemCategory}}</p>
						<p>{{condition}}</p>
					</div>
				</a>
				<div class="card-footer">
					<form
						class="addToCart flex-col"
						action="/customers/cart"
						method="POST"
					>
						<label for="{{itemId}}Quantity" class="form-label">Quantity</label>
						<input
							type="number"
							id="{{itemId}}Quantity"
							name="quantity"
							min="1"
							max="5"
							value="1"
						/>
						<input type="hidden" name="listingId" value="{{_id}}" />
						<button type="submit" class="btn">Add to Cart</button>
					</form>
				</div>
			</div>
		{{/each}}
	</div>
</div>

<script type="module" src="/public/js/users/searchpage.js"></script>