{{#if orders.length}}
	<section>
		<table class="order-table">
			<thead>
				<tr>
					<th scope="col">Order ID</th>
					<th scope="col">Order Date</th>
					<th scope="col">Order Address</th>
					<th scope="col">Total Cost</th>
					<th scope="col">View Details</th>
				</tr>
			</thead>
			<tbody>
				{{#each orders}}
					<tr>
						<td>{{_id}}</td>
						<td>{{orderDate}}</td>
                        <td>{{shippingAddress}}</td>
						<td>${{cost}}</td>
						<td><a href="/orders/{{_id}}">View Order</a></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</section>
{{else}}
	<section class="no-orders">
		<p>You have no orders at this time</p>
	</section>
{{/if}}