<h1>Wishlist</h1>
{{#if wishlist}}
	<div id="cart-items">
		{{#each wishlist}}
			<a class ="href-black" href="/sellers/listings/{{listing._id}}">
				<div class="cart-item" data-listingid="{{listing._id}}">
					<div class="item-image">
						<img src="{{listing.itemImage}}" alt="{{listing.itemName}}" />
					</div>
					<div>
						<h2>{{listing.itemName}}</h2>
						<p>Description: {{listing.itemDescription}}</p>
						<p>Condition: {{listing.condition}}</p>
						<p>Price: {{listing.itemName}}</p>
						<button
							class="removeFromWishlistBtn"
							data-listingid="{{listing._id}}"
						>Remove</button>
						<button class="moveToCartBtn" data-listingid="{{listing._id}}">Move
							to Cart</button>
					</div>
				</div>
			</a>
		{{/each}}
	</div>
{{else}}
	<p>Your wishlist is empty!</p>
{{/if}}
<script type="module" src="/public/js/customers/wishlistpage.js"></script>